{% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      <a class="page-link" href="?{% if request.GET %}{{ request.GET.urlencode|cut:'page='|cut:'&&' }}&{% endif %}page={{ page_obj.previous_page_number }}">«</a>
    </li>
    {% for num in page_obj.paginator.page_range %}
      {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
          <a class="page-link" href="?{% if request.GET %}{{ request.GET.urlencode|cut:'page='|cut:'&&' }}&{% endif %}page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      <a class="page-link" href="?{% if request.GET %}{{ request.GET.urlencode|cut:'page='|cut:'&&' }}&{% endif %}page={{ page_obj.next_page_number }}">»</a>
    </li>
  </ul>
</nav>
{% endif %}
